*{
    padding : 0;
    margin :5px;
    box-sizing : border-box;
}
body{
    width :100%;
    height :100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('images/image.avif');
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width :100%;
    height :100vpx;
    color : white;
    display : flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 20pz;
}
.menu a:hover{
    transition: 0.4s;
    color: rgb(192, 67, 150);

}
.register a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 20pz;
    border-radius: 8px;
    background: rgb(205, 92, 145);
}
.register a:hover{
    border: 1px solid rgb(205, 92, 205);
    background: transparent;
}
.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width : 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: beige;
}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1{
    font-size: 3.5rem;
}
.h-text a{
    text-decoration: none;
    background: rgb(205, 92, 126);
    padding: 10px 20px;
    color : whitesmoke;
    letter-spacing: 5px;
    transition: 0.4s;
}
.h-text a:hover{
    border: 1px solid rgb(205, 92, 190);
    background: transparent;
}